@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Book Management Project</h1>
    <p>This project has been created using .Net Core Web Application MVC Pattern. </p>
    <p>MongoDB Atlas is used as database.</p>
    <p>Project Owner: Buğra Kaan</p>
</div>